.nav-conteiner {
  display: flex;
  justify-content: space-between;
  max-width: 1188px;
  margin: 0 auto;
  padding-top: 15px;
  padding-inline: 60px;
}

.header02-conteiner {
  display: none;
}
.nome-logo img {
  margin-top: -110px;
  height: 250px;
  max-height: max-content;
  cursor: pointer;
}
.div-login h1 {
  color: #000;
  display: inline-block;
  position: relative;
}
.div-login h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #000;
  margin-top: 2px;
  transition: width 0.3s;
  position: absolute;
  left: 0;
}
.div-login h1:hover::after {
  width: 100%;
}

.nome-logo img:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
.nome-logo img:not(:hover) {
  transition: 0.3s;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-50%);
}

.burger input:checked ~ span:nth-of-type(1) {
  top: 0;
  left: 5px;
  transform: rotate(405deg);
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  top: 28px;
  left: 5px;
  transform: rotate(-405deg);
}

@media (max-width: 1030px) {
  .header-conteiner {
    display: none;
  }
  .header02-conteiner {
    padding-top: 30px;
    padding-inline: 30px;
    display: block;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .itensDoMenu {
    display: none;
  }
  .itensDoMenu.ativo {
    display: block;
    padding-top: 20px;
    max-width: max-content;
  }
  .itensDoMenu li,
  a {
    color: #000;
    font-size: 1.3rem;
  }
  .logo img {
    margin-top: -110px;
    height: 250px;
    max-height: max-content;
    cursor: pointer;
    width: 225px;
  }
}
